html {
  font-family: "Ubuntu Condensed", sans-serif;
}

body {
  display: block;
  background-image: url("../images/starfield.png");
  width: 100vw;
  overflow: hidden;
}

h1,
p {
  color: #fff;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, .7);
}

.m {
  margin: 17em auto;
}

a {
  text-decoration: none;
  color: #b4fff4;
}

.btn:hover .icon {
  -webkit-animation: rocket 1s linear infinite;
  animation: rocket 1s linear infinite;
}

.btn-ghost {
  color: #b4fff4;
  transition: all .5s linear;
}

.btn-ghost:hover {
  color: #b4fff4;
}

a:focus {
  outline: none;
  outline-offset: 0;
}

.btn-ghost:focus {
  background-color: transparent;
  border-color: #90ccc3;
  color: #b4fff4;
}

.btn {
  position: relative;
  top: 0;
  border-color: #90ccc3;
  border-radius: 8px;
  padding: 0;
  transition: all .5s linear;
}

.btn:hover {
  background-color: rgba(180, 255, 244, .2);
  border-color: #90ccc3;
  border-radius: 8px;
  padding: 0;
}

.p {
  padding: 5px 10px;
}

.three-d {
  height: 9px;
  border-width: 3px 0 0;
  border-color: #90ccc3;
  border-style: solid;
  padding: 0;
  transition: all .5s linear;
}

a:active .three-d {
  height: 4px;
}

.btn-ghost:active {
  top: 5px;
}

@keyframes rocket {

  0% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(-2px);
  }

}
